<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </div>

      <div class="panel-body">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group has-errors">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.button nil, class: "btn btn-default" %>
  </div>
<% end %>
