<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Microposts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
<%= link_to("logout", destroy_user_session_path, :method => :delete) %>
<% else %>
<%= link_to "login", new_user_session_path %>
<% end %>
<%= link_to "users", users_path %>
<%= link_to "posts", posts_path %>

<div class="container">
  <div class="row">
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>
  </div>
  <%= yield %>
</div>

</body>
</html>
